/* 
Aufgabe: 04
Name: Annsophie Rösch
Matrikel: 257727
Datum: 21.04.2019
Hiermit versichere ich, dass ich diesen
Code selbst geschrieben habe. Er wurde
nicht kopiert und auch nicht diktiert. 
*/

* {
	vertical-align: top
}

body {
	width: 100%;
	background-color: #fce8ea;
}

#side {
	position: fixed;
	right: 0px;
	top: 185px;
}

fieldset {
	width: 50%;
}